<% include ../partials/header %>
    <div class="row">
        <div class="col-md-3">
            <p class="lead"> PG-Mate</p>
            <div class="list-group">
				<li style="list-style: none; margin-bottom: 5px">
					<span class="price-tag">
					  <span style="font-size: 20px"><strong>Owner: <%= room.author.username  %></strong></span>
					</span>
				</li>
				<li style="list-style: none">
					<span class="price-tag">
					  <span style="font-size: 20px"><strong>Rs.  <%= room.price  %>/month</strong></span>
					</span>
				</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= room.image %>">
                <div class="caption-pull">
                    <!-- <h4 class="pull-right"><strong>Rs.<%= room.price  %>/month</strong></h4> -->
                    <!-- <h3><a><%= room.name %></a></h3> -->
					<h4><a><%= room.address %></a></h4>
					<% if(room.type==="pgroom"){ %>
					  <h4>
						PG-Room 
					  </h4>
					<% }else if(room.type==="pgtourism"){ %>
					  <h4>
						PG-Tourist  
					  </h4>
					<% }else { %>
					  <h4>
						Both PG-Room and PG-Tourist. 
					  </h4>
					<% }; %>
                    <p> <%= room.description %></p>
                    <p>
                        <em>Contact to <a href="/users/<%= room.author.id %>"><%= room.author.username %></a> for Booking.</em>
                    </p>
                    <% if(currentUser && room.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){  %>
                        <!-- <a class="btn btn-warning" href="/rooms/<%= room._id %>/edit">Edit</a> -->
					<div class='button1 -sun center'><a href="/rooms/<%= room._id %>/edit">Edit</a></div>
                        <form action="/rooms/<%=room._id %>?_method=DELETE" method="POST">
                            <button class="button1 -green center">DELETE!</button>
							<!-- <div class='button1 -green center'>DELETE!</div> -->
                        </form>
                    <% } %>
                    
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-primary" href="/rooms/<%= room.id %>/comments/new">Add new Comment</a>               
                </div>
                <hr>
                <% room.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                       <strong><%=comment.author.username%></strong> 
                        <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                    </div>
                    <p class="fuck"> 
                          <%=comment.text %>
                    </p>
                    <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){  %>
                    <!-- <a href="/rooms/<%= room._id %>/comments/<%= comment._id %>/edit" class="btn btn-warning btn-xs">Edit</a> -->
					 <div class='button1 -sun center' ><a href="/rooms/<%= room._id %>/comments/<%= comment._id %>/edit" >Edit </a></div>
                        <form id="delete" action="/rooms/<%=room._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
							<button class="button1 -green center">DELETE!</button>
                        </form>
                    <% } %>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>


 <% include ../partials/footer %>